img {
    width: 280px;
}

body {
    text-align: center;
    font-family: 'Arial';
    background-color: black;
    color: white;
}

a:link {
    color: lightgray; 
}

a:visited {
    color: lightblue;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 90;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#top-pic {
    width: 350px;
}
